@(rows: List[Sprint])

@main("Sprints") {
    
    <h3> Sprints </h3>
    <table class="table">
    	<tr><th>ID</th><th>Project</th><th>Title</th><th>Description</th><th>Begin</th><th>End</th><th>Status</th><th>Created</th><th>Updated</th></tr>
    	@for(row <- rows) {
    	<tr>
    	<td>@row.id.getOrElse("N/A")</td>
    	<td>@row.project_id</td>
    	<td>@row.title</td>
    	<td>@row.description</td>
    	<td>@row.begin_date</td>
    	<td>@row.end_date</td>
    	<td>@row.status</td>
    	<td>@row.created_time</td>
    	<td>@row.updated_time</td>
    	</tr>
   		}
    </table>
    
}