@(proj: Project)

@main("Project") {
    
    <h1> @proj.title </h1>
    
	<dl>
		<dt>Description</dt><dd>@Html(proj.description)</dd>
		<dt>Created On</td><dd>@proj.created_time</dd>
	</dl>

	@for(sprint <- proj.sprints) {
	<div class="sprint-box row-fluid">
		
		<table class="table">
		<tr>
			<td colspan="2" class="sprint-box-header">
				<div class="row-fluid" style="padding-bottom: 0px">
					<h3 class="span8" style="margin-top: 0px; margin-bottom: 0px">@sprint.title</h3>
					<div class="span4">
						<div class="btn-group pull-right">
							<a class="btn btn-small">Info</a>
							<a class="btn btn-small">New Story</a>
						</div>
					</div>
				</div>
			</td>
		</tr>
		@for(story <- sprint.stories) {
		<tr>
			<td class="sprint-story-id"><a class="btn btn-mini btn-block" href="@routes.StoryController.view(story.id.get)">@story.id</a></td>
			<td><strong>@story.title</strong> &mdash; @story.description</td>
		</tr>
		}
		</table>
	</div>
	}
}
